div(class="cart_page_summary")
  h3 Billing summary
  a(
    class="vendor_name" 
    href="vendor_details.html"
    )
    svg.size-6(
      stroke="currentColor" 
      stroke-width="1.5" 
      viewBox="0 0 24 24" 
      fill="none" 
      xmlns="http://www.w3.org/2000/svg"
      )
      path(
        d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" 
        stroke-linejoin="round" 
        stroke-linecap="round"
        )
    | Zapier Gallery
  ul
    li
      a.img(href="#")
        img.img-fluid.w-100(
          alt="Products" 
          src="/client/assets/images/product_18.png"
          )
      .text
        a.title(href="shop_details.html") Full Sleeve Hoodie Jacket
        p $59.00 × 2
        p Color: Red, Size: XL
    li
      a.img(href="#")
        img.img-fluid.w-100(
          alt="Products" 
          src="/client/assets/images/product_16.png"
          )
      .text
        a.title(href="shop_details.html") cherry fabric western tops
        p $75.00 × 1
        p Color: Orange, Size: M
  a(
    class="vendor_name" 
    href="vendor_details.html"
    )
    svg.size-6(
      stroke="currentColor" 
      stroke-width="1.5" 
      viewBox="0 0 24 24" 
      fill="none" 
      xmlns="http://www.w3.org/2000/svg"
      )
      path(
        d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" 
        stroke-linejoin="round" 
        stroke-linecap="round"
        )
    | Comfort Gallery
  ul
    li
      a.img(href="#")
        img.img-fluid.w-100(
          alt="Products" 
          src="/client/assets/images/product_18.png"
          )
      .text
        a.title(href="shop_details.html") Full Sleeve Hoodie Jacket
        p $59.00 × 2
        p Color: Red, Size: XL
  h6
    | subtotal
    span $395.00
  h6
    | Tax
    span (+) $100.00
  h6
    | Discount
    span (-) $45.00
  h4
    | Total
    span $410.00
  form(action="#")
    input(
      placeholder="Coupon code" 
      type="text"
      )
    button(
      class="common_btn" 
      type="submit"
      ) Apply
    p
      | Coupon Code: HEM4556JL
      a(href="#")
        i.fal.fa-times