if (accountUser)
  #chat-button 💬
  #chat-popup.hidden
    .chat-header
      span 💬 Chat với chúng tôi
      button#chat-close ✕
    #chat-body.chat-body
      if (chatMessages)
        each item in chatMessages
          div(class=`message ${item.senderRole}` title=item.createdAtFormat)
            .bubble #{item.content}
    #chat-typing.chat-typing Admin đang nhập...
    .chat-footer
      input#chat-input(
        placeholder="Nhập tin nhắn..." 
        type="text"
        )
      button#chat-send Gửi