if(accountUser.addressList && accountUser.addressList.length > 0)
  div(class="checkout_address_area")
    .row
      each item, index in accountUser.addressList
        .col-md-6
          div(class="checkout_single_address")
            .form-check.form-check-inline
              input.form-check-input(
                value=item.id 
                name="userAddress" 
                type="radio"
                id=`addressAddress${index}`
                checked=(item.isDefault)
                data-info=`${JSON.stringify(item)}`
                )
              label.form-check-label(for=`addressAddress${index}`)
                span
                  svg.size-6(
                    stroke="currentColor" 
                    stroke-width="1.5" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg"
                    )
                    path(
                      d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" 
                      stroke-linejoin="round" 
                      stroke-linecap="round"
                      )
                  | #{item.fullName}
                span
                  svg.size-6(
                    stroke="currentColor" 
                    stroke-width="1.5" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg"
                    )
                    path(
                      d="M15.75 3.75 18 6m0 0 2.25 2.25M18 6l2.25-2.25M18 6l-2.25 2.25m1.5 13.5c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" 
                      stroke-linejoin="round" 
                      stroke-linecap="round"
                      )
                  | #{item.phone}
                span
                  svg.size-6(
                    stroke="currentColor" 
                    stroke-width="1.5" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg"
                    )
                    path(
                      d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" 
                      stroke-linejoin="round" 
                      stroke-linecap="round"
                      )
                    path(
                      d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" 
                      stroke-linejoin="round" 
                      stroke-linecap="round"
                      )
                  | #{item.address}
