div(class="checkout_payment")
  h3 Phương thức thanh toán
  .form-check
    input#paymentMethodMoney.form-check-input(
      name="paymentMethod" 
      type="radio"
      value="money"
      )
    label.form-check-label(for="paymentMethodMoney") Thanh toán khi nhận hàng
  .form-check
    input#paymentMethodVNPay.form-check-input(
      name="paymentMethod" 
      type="radio"
      value="vnpay"
      )
    label.form-check-label(for="paymentMethodVNPay") Thanh toán qua VNPay
  .form-check
    input#paymentMothodZaloPay.form-check-input(
      name="paymentMethod" 
      type="radio"
      value="zalopay"
      )
    label.form-check-label(for="paymentMothodZaloPay") Thanh toán qua ZaloPay
  button(
    class="common_btn" 
    type="submit"
    button-order
    )
    | Đặt hàng
    i.fas.fa-long-arrow-right