div(class="checkout_address_area")
  .row
    .col-md-6
      div(class="checkout_single_address")
        .form-check.form-check-inline
          input#inlineRadioAddress01.form-check-input(
            value="option1" 
            name="inlineRadioOptions" 
            type="radio"
            )
          label.form-check-label(for="inlineRadioAddress01")
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
                path(
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | 37 West 24th Street, New York 10010, United States
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | example@Zenis.com
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M15.75 3.75 18 6m0 0 2.25 2.25M18 6l2.25-2.25M18 6l-2.25 2.25m1.5 13.5c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | +123 324 5879 39
    .col-md-6
      div(class="checkout_single_address")
        .form-check.form-check-inline
          input#inlineRadioAddress02.form-check-input(
            value="option1" 
            name="inlineRadioOptions" 
            type="radio"
            )
          label.form-check-label(for="inlineRadioAddress02")
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
                path(
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | 37 West 24th Street, New York 10010, United States
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | example@Zenis.com
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M15.75 3.75 18 6m0 0 2.25 2.25M18 6l2.25-2.25M18 6l-2.25 2.25m1.5 13.5c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | +123 324 5879 39
    .col-md-6
      div(class="checkout_single_address")
        .form-check.form-check-inline
          input#inlineRadioAddress03.form-check-input(
            value="option1" 
            name="inlineRadioOptions" 
            type="radio"
            )
          label.form-check-label(for="inlineRadioAddress03")
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
                path(
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | 37 West 24th Street, New York 10010, United States
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | example@Zenis.com
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M15.75 3.75 18 6m0 0 2.25 2.25M18 6l2.25-2.25M18 6l-2.25 2.25m1.5 13.5c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | +123 324 5879 39
    .col-md-6
      div(class="checkout_single_address")
        .form-check.form-check-inline
          input#inlineRadioAddress04.form-check-input(
            value="option1" 
            name="inlineRadioOptions" 
            type="radio"
            )
          label.form-check-label(for="inlineRadioAddress04")
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
                path(
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | 37 West 24th Street, New York 10010, United States
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | example@Zenis.com
            span
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M15.75 3.75 18 6m0 0 2.25 2.25M18 6l2.25-2.25M18 6l-2.25 2.25m1.5 13.5c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | +123 324 5879 39
