footer(
  style="background: url(/client/assets/images/footer_2_bg_2.jpg);" 
  class="footer_2 pt_100"
  )
  .container
    .row.justify-content-between
      .col-xl-3.col-md-6.col-lg-3.wow.fadeInUp(data-wow-delay=".7s")
        div(class="footer_2_logo_area")
          a(
            href="index.html" 
            class="footer_logo"
            )
            img.img-fluid.w-100(
              alt="Zenis" 
              src="/client/assets/images/footer_logo_2.png"
              )
          p
            | Zenis mang đến những xu hướng thời trang hiện đại, giúp bạn tự tin thể hiện phong cách riêng với các sản phẩm chất lượng và mức giá hợp lý.
          ul
            li
              span Theo dõi :
            li
              a(href="#")
                i.fab.fa-facebook-f
            li
              a(href="#")
                i.fab.fa-twitter
            li
              a(href="#")
                i.fab.fa-google-plus-g
            li
              a(href="#")
                i.fab.fa-linkedin-in
      .col-xl-2.col-sm-6.col-md-4.col-lg-2.wow.fadeInUp(data-wow-delay="1s")
        div(class="footer_link")
          h3 Công ty
          ul
            li
              a(href="#about") Về chúng tôi
            li
              a(href="#") Liên hệ
            li
              a(href="#") Đối tác
            li
              a(href="#") Sự nghiệp
            li
              a(href="#") Tin tức mới
      .col-xl-2.col-sm-6.col-md-4.col-lg-2.wow.fadeInUp(data-wow-delay="1.3s")
        div(class="footer_link")
          h3 Danh mục
          ul
            li
              a(href="#") Thời trang nam
            li
              a(href="#") Thời trang nữ
            li
              a(href="#") Đồng phục thể thao
            li
              a(href="#") Thời trang trẻ em
            li
              a(href="#") Phụ kiện
      .col-xl-2.col-sm-6.col-md-4.col-lg-2.wow.fadeInUp(data-wow-delay="1.6s")
        div(class="footer_link")
          h3 Liên kết nhanh
          ul
            li
              a(href="#") Chính sách bảo mật
            li
              a(href="#") Điều khoản và dịch vụ
            li
              a(href="#") Chính sách đổi trả
            li
              a(href="#") Câu hỏi thường gặp
            li
              a(href="#") Trở thành nhà cung cấp
      .col-xl-3.col-sm-6.col-md-4.col-lg-3.wow.fadeInUp(data-wow-delay="1.9s")
        div(class="footer_link footer_logo_area")
          h3 Liên hệ với chúng tôi
          p
            | Zenis luôn sẵn sàng hỗ trợ mọi thắc mắc của bạn. Liên hệ với chúng tôi để được tư vấn sản phẩm và hỗ trợ mua sắm nhanh chóng.
          span
            b
              img.img-fluid(
                alt="Map" 
                src="/client/assets/images/location_icon_white.png"
                )
            | Phú Xuyên - Hà Nội
          span
            b
              img.img-fluid(
                alt="Call" 
                src="/client/assets/images/phone_icon_white.png"
                )
            a(href="callto:+0979719410") 0979719410
          span
            b
              img.img-fluid(
                alt="Mail" 
                src="/client/assets/images/mail_icon_white.png"
                )
            a(href="mailto:truongpham090325@gmail.com") truongpham090325@gmail.com
    .row
      .col-12
        div(class="footer_copyright mt_75")
          p
            | Bản quyền thuộc về 
            b Zenis 
          ul.payment
            li Phương thức thanh toán
            li
              img.img-fluid.w-100(
                alt="payment" 
                src="/client/assets/images/footer_payment_icon_1.jpg"
                )
            li
              img.img-fluid.w-100(
                alt="payment" 
                src="/client/assets/images/footer_payment_icon_2.jpg"
                )
            li
              img.img-fluid.w-100(
                alt="payment" 
                src="/client/assets/images/footer_payment_icon_3.jpg"
                )