div(id="sticky_sidebar")
  .wow.fadeInRight(class="blog_details_right")
    form(action="#" form-search)
      input(
        placeholder="Search..." 
        type="text"
        name="keyword"
        )
      button(type="submit")
        i.far.fa-search(aria-hidden="true")
    div(class="blog_details_right_header sidebar_blog")
      h3 Bài viết nổi bật
      each item in popularBlogList
        .d-flex.flex-wrap(class="popular_blog")
          div(class="popular_blog_img")
            img.img-fluid.w-100(
              alt=item.name
              src=`${domainCDN}${item.avatar}`
              )
          div(class="popular_blog_text")
            p
              span
                img.img-fluid.w-100(
                  alt="icon" 
                  src="/client/assets/images/calender.png"
                  )
              | #{item.createdAtFormat}
            a.title(href=`/blog/detail/${item.slug}`)
              | #{item.name}
      div(class="blog_details_right_header")
      h3 Danh Mục Phổ Biến
      ul(class="sidebar_blog_category")
        each item in popularCategoryBlogList
          li
            a(href=`/blog/category/${item.slug}`)
              p #{item.name}
              span (#{item.totalBlog})
    div(class="blog_details_right_header")
      div(class="blog_seidebar_add")
        img.img-fluid.w-100(
          alt="blog add" 
          src="/client/assets/images/blog_sidebar_add_img.png"
          )
        .text
          h4 Sẽ giúp tôn lên vẻ đẹp của bạn.
          a(
            tabindex="-1" 
            href="/" 
            class="common_btn"
            )
            | Trang chủ