div(id="sticky_sidebar")
  .d-lg-none(class="shop_filter_btn") Filter
  div(class="shop_filter_area")
    div(class="sidebar_range")
      h3 Mức giá
      div(class="range_slider")
    div(class="sidebar_status")
      h3 Trạng thái sản phẩm
      .form-check
        input#filterOnSale.form-check-input(
          value="onSale" 
          type="checkbox"
          filter-product-status
          )
        label.form-check-label(for="filterOnSale") Đang giảm giá
      .form-check
        input#filterInStock.form-check-input(
          value="inStock" 
          type="checkbox"
          filter-product-status
          )
        label.form-check-label(for="filterInStock") Còn hàng
    div(class="sidebar_category")
      h3 Danh mục
      ul
        each item in categoryProductList
          li
            a(href="javascript:;" button-slug=item.slug)
              | #{item.name}
    each attribute in attributeList
      div(class=`${attribute.type == "color" ? "sidebar_color" : "sidebar_status"}`)
        h3 #{attribute.name}
        ul(filter-attribute=attribute.id)
          each option in attribute.options
            li
              .form-check
                input.form-check-input(
                  style=`${attribute.type == "color" ? `background-color: ${option.value}` : ""}`
                  id=`${attribute.type}-${attribute.id}-${option.value}` 
                  value=option.value 
                  type="checkbox"
                  )
                label.form-check-label(for=`${attribute.type}-${attribute.id}-${option.value}`) #{option.label}
    div(class="sidebar_rating")
      h3 Đánh giá
      each star in [5, 4, 3, 2, 1]
        .form-check
          input.form-check-input(
            id=`filterRating${star}`
            value=star
            name="rating" 
            type="checkbox"
            )
          label.form-check-label(for=`filterRating${star}`)
            i.fas.fa-star.me-1(aria-hidden="true")
            | #{star} sao
    div(class="sidebar_related_product")
      h3 Top Rated Products
      ul
        li
          a.img(href="shop_details.html")
            img.img-fluid(
              alt="Product" 
              src="/client/assets/images/product_18.png"
              )
          .text
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (29)
            a.title(href="shop_details.html") Kid's Western Party Dress
            p.price $59.00
        li
          a.img(href="shop_details.html")
            img.img-fluid(
              alt="Product" 
              src="/client/assets/images/product_23.png"
              )
          .text
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (12)
            a.title(href="shop_details.html") Kid's dresses for summer
            p.price $54.00
        li
          a.img(href="shop_details.html")
            img.img-fluid(
              alt="Product" 
              src="/client/assets/images/product_13.png"
              )
          .text
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (09)
            a.title(href="shop_details.html") Sharee Petticoat For Women
            p.price $28.00
        li
          a.img(href="shop_details.html")
            img.img-fluid(
              alt="Product" 
              src="/client/assets/images/product_7.png"
              )
          .text
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (35)
            a.title(href="shop_details.html") Denim 2 Quarter Pant
            p.price $54.00
