extends ../layouts/default.pug
include ../mixins/menu-category-item.pug
include ../mixins/page-banner.pug

block main
  //
    =========================
    PAGE BANNER START
    ==========================

  +page-banner(blogDetail, `/blog/detail/${blogDetail.slug}`)

  //
    =========================
    PAGE BANNER START
    ==========================
  //
    ============================
    BLOG DETAILS START
    =============================
  section(class="blog_details blog_2 mt_75 mb_100")
    .container
      .row
        .col-xl-9.col-lg-8.wow.fadeInUp
          div(class="blog_details_left")
            div(class="blog_details_img_1")
              img.img-fluid.w-100(
                alt="img" 
                src=`${domainCDN}${blogDetail.avatar}`
                )
            ul.d-flex.flex-wrap(class="blog_details_top")
              li
                span
                  img.img-fluid.w-100(
                    alt="icon" 
                    src="/client/assets/images/calender.png"
                    )
                | #{blogDetail.date}
              li
                span
                  img.img-fluid.w-100(
                    alt="icon" 
                    src="/client/assets/images/user_icon_black.svg"
                    )
                | #{blogDetail.authorName}
              li
                span
                  img.img-fluid.w-100(
                    alt="icon" 
                    src="/client/assets/images/massage.png"
                    )
                | 0 Bình luận
            div(class="blog_details_desc")
              | !{blogDetail.description}
            div(class="blog_details_content")
              | !{blogDetail.content}
          div(class="blog_shear_area")
            .row
              .col-xl-5
                .d-flex.flex-wrap(class="blog_shear_area_right")
                  h5 Chia sẻ:
                  ul.d-flex.flex-wrap
                    li
                      a(
                        button-share
                        href=`https://www.facebook.com/sharer/sharer.php?u=`
                        target="_blank"
                        rel="noopener noreferrer"
                        )
                        i.fab.fa-facebook-f(aria-hidden="true")
                    li
                      a(
                        button-share
                        href=`https://twitter.com/intent/tweet?url=`
                        target="_blank"
                        rel="noopener noreferrer"
                        )
                        i.fab.fa-twitter(aria-hidden="true")
                    li
                      a(
                        button-share
                        href=`https://www.linkedin.com/shareArticle?url=`
                        target="_blank"
                        rel="noopener noreferrer"
                        )
                        i.fab.fa-linkedin-in(aria-hidden="true")
                    li
                      a(
                        button-share
                        href=`https://pinterest.com/pin/create/button/?url=`
                        target="_blank"
                        rel="noopener noreferrer"
                        )
                        i.fab.fa-pinterest
          div(class="blog_details_comment")
            h2 2 Comments
            .d-flex.flex-wrap(class="blog_comment")
              div(class="blog_comment_img")
                img.img-fluid.w-100(
                  alt="img" 
                  src="/client/assets/images/comment_1.png"
                  )
              div(class="blog_comment_text")
                h4 Douglas Lyphe
                span march 26,2024 at 10:47 pm
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis temporibus eaque
                  |   repudiandae rem veniam quos iste cupiditate, perspiciatis itaque nesciunt quae
                  |   impedit necessitatibus nostrum recusandae ea laboriosam doloremque repellat hic?.
            .d-flex.flex-wrap(class="blog_comment")
              div(class="blog_comment_img")
                img.img-fluid.w-100(
                  alt="img" 
                  src="/client/assets/images/comment_2.png"
                  )
              div(class="blog_comment_text")
                h4 Lance Bogrol
                span march 26,2024 at 10:47 pm
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur recusandae dolorem
                  |   maiores minima ipsa! Suscipit vitae officia sequi ipsam voluptates laborum ea fugiat
                  |   ad vero repellendus corrupti accusantium eligendi porro perspiciatis eius, dolorem
                  |   doloribus doloremque.
            .d-flex.flex-wrap(class="blog_comment")
              div(class="blog_comment_img")
                img.img-fluid.w-100(
                  alt="img" 
                  src="/client/assets/images/comment_1.png"
                  )
              div(class="blog_comment_text")
                h4 Douglas Lyphe
                span march 26,2024 at 10:47 pm
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque turpis
                  |   turpis,
                  |   maximus ut augue et, imperdiet tempor nisi. Fusce at lacus a risus viverra
                  |   suscipit.
            .d-flex.flex-wrap(class="blog_comment")
              div(class="blog_comment_img")
                img.img-fluid.w-100(
                  alt="img" 
                  src="/client/assets/images/comment_2.png"
                  )
              div(class="blog_comment_text")
                h4 Lance Bogrol
                span march 26,2024 at 10:47 pm
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis temporibus eaque
                  |   repudiandae rem veniam quos iste cupiditate, perspiciatis itaque nesciunt quae
                  |   impedit necessitatibus nostrum recusandae ea laboriosam doloremque repellat hic.
            div(class="pagination_area")
              nav(aria-label="...")
                ul.pagination(class="mt_50")
                  li.page-item
                    a.page-link(href="#")
                      i.far.fa-arrow-left
                  li.page-item
                    a.page-link.active(href="#") 01
                  li.page-item
                    a.page-link(href="#") 02
                  li.page-item
                    a.page-link(href="#") 03
                  li.page-item
                    a.page-link(href="#")
                      i.far.fa-arrow-right
          div(class="blog_details_comment_input")
            form(action="#")
              h2 Leave a Comment
              .row
                .col-md-6
                  div(class="blog_form_input")
                    input(
                      placeholder="Name *" 
                      type="text"
                      )
                .col-md-6
                  div(class="blog_form_input")
                    input(
                      placeholder="E-mail *" 
                      type="email"
                      )
                .col-md-6
                  div(class="blog_form_input")
                    input(
                      placeholder="Phone" 
                      type="text"
                      )
                .col-md-6
                  div(class="blog_form_input")
                    input(
                      placeholder="Subject" 
                      type="text"
                      )
                .col-xl-12
                  div(class="blog_form_input")
                    textarea(
                      placeholder="Your Comment Here..." 
                      rows="6"
                      )
                .col-xl-12
                  .form-check(class="blog_checkbox")
                    input#flexCheckDefault.form-check-input(type="checkbox")
                    label.form-check-label(for="flexCheckDefault")
                      | Save my name, email, and website in this browser for the next time I
                      |   comment.
                .col-xl-12
                  button(class="common_btn")
                    | Submit Comment
                    i.fas.fa-long-arrow-right
        .col-xl-3.col-lg-4.col-md-8.wow.fadeInRight
          include ../partials/sticky-sidebar-blog.pug
  //
    ============================
    BLOG DETAILS START
    =============================