extends ../layouts/default.pug
include ../mixins/menu-category-item.pug
include ../mixins/page-banner.pug

block main
  //
    =========================
    PAGE BANNER START
    ==========================

  +page-banner({
    name: pageTitle
  }, `/checkout`)

  //
    ============================
    CART PAGE START
    =============================

  //
    ============================
    CHECKOUT START
    =============================
  section(class="checkout_page mt_100 mb_100")
    .container
      .row
        .col-lg-8.wow.fadeInUp
          div(class="checkout_header")
            h3 Thông tin vận chuyển
            p
              svg.size-6(
                stroke="currentColor" 
                stroke-width="1.5" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" 
                  stroke-linejoin="round" 
                  stroke-linecap="round"
                  )
              | Tài khoản:
              b #{accountUser.fullName}
              a(href="/auth/logout") (Đăng xuất)
          include ../partials/checkout-address-area.pug
          include ../partials/checkout-form-area.pug
        .col-lg-4.col-md-9.wow.fadeInRight
          include ../partials/cart-page-summary.pug
          include ../partials/checkout-payment.pug
  //
    ============================
    CHECKOUT END
    =============================