extends ../layouts/default.pug
include ../mixins/page-banner.pug

block main
  //
    =========================
    PAGE BANNER START
    ==========================
  +page-banner(
    {
      name: pageTitle,
    },
    "/dashboard/order/list"
  )
  //
    =========================
    PAGE BANNER START
    ==========================

  //
    ============================
    DSHBOARD START
    =============================
  section.dashboard(class="mb_100")
    .container
      .row
        .col-xl-3.wow.fadeInUp
          include ../partials/dashboard-sidebar.pug
        .col-xl-9.wow.fadeInRight
          div(class="dashboard_content mt_100")
            h3(class="dashboard_title")
              | #{pageTitle}
            div(class="dashboard_order_table")
              .table-responsive
                table
                  thead
                    tr
                      th Mã ĐH
                      th Ngày đặt
                      th Tổng tiền
                      th PTTT
                      th Trạng thái
                      th Hành động
                  tbody
                    each order in orderList
                      tr
                        td #{order.code}
                        td #{order.createdAt.toLocaleString("vi-VN")}
                        td #{order.total.toLocaleString("vi-VN")}đ
                        td
                          case order.paymentMethod
                            when "money"
                              | Tiền mặt
                            when "vnpay"
                              | VNPay
                            when "zalopay"
                              | ZaloPay
                        td
                          div Thanh toán: 
                            case order.paymentStatus
                              when "unpaid"
                                | Chưa thanh toán
                              when "paid"
                                | Đã thanh toán
                              when "refunded"
                                | Đã hoàn tiền
                          div Đơn hàng: 
                            case order.orderStatus
                              when "pending"
                                | Chờ xác nhận
                              when "confirmed"
                                | Đã xác nhận
                              when "shipping"
                                | Đang giao
                              when "completed"
                                | Giao thành công
                              when "cancelled"
                                | Đã hủy
                              when "returned"
                                | Đã trả hàng
                        td
                          a(href=`/dashboard/order/detail/${order.id}`)
                            svg.size-6(
                              stroke="currentColor" 
                              stroke-width="1.5" 
                              viewBox="0 0 24 24" 
                              fill="none" 
                              xmlns="http://www.w3.org/2000/svg"
                              )
                              path(
                                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" 
                                stroke-linejoin="round" 
                                stroke-linecap="round"
                                )
                              path(
                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" 
                                stroke-linejoin="round" 
                                stroke-linecap="round"
                                )
                            | Xem chi tiết
                          a(
                            href=`/dashboard/order/review/${order.id}`
                            class="review_order"
                            )
                            svg.size-6(
                              stroke="currentColor" 
                              stroke-width="1.5" 
                              viewBox="0 0 24 24" 
                              fill="none" 
                              xmlns="http://www.w3.org/2000/svg"
                              )
                              path(
                                d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" 
                                stroke-linejoin="round" 
                                stroke-linecap="round"
                                )
                            | Đánh giá
  //
    ============================
    DSHBOARD END
    =============================