extends ../layouts/default.pug
include ../mixins/page-banner.pug

block main
  //
    =========================
    PAGE BANNER START
    ==========================
  +page-banner(
    {
      name: pageTitle,
    },
    `/dashboard/change-password`
  )
  //
    =========================
    PAGE BANNER START
    ==========================

  //
    ============================
    DSHBOARD START
    =============================
  section.dashboard(class="mb_100")
    .container
      .row
        .col-xl-3.wow.fadeInUp
          include ../partials/dashboard-sidebar.pug
        .col-xl-9.wow.fadeInRight
          div(class="dashboard_content mt_100")
            h3(class="dashboard_title")
              | #{pageTitle}
            div(class="dashboard_profile_info_edit")
              form(class="info_edit_form" id="changePasswordForm")
                .row
                  .col-md-6
                    div(class="single_input")
                      label(for="password") Mật khẩu mới *
                      input(
                        placeholder="**********" 
                        type="password"
                        name="password"
                        id="password"
                        )
                  .col-md-6
                    div(class="single_input")
                      label(for="confirmPassword") Xác nhận mật khẩu *
                      input(
                        placeholder="**********" 
                        type="password"
                        name="confirmPassword"
                        id="confirmPassword"
                        )
                  .col-md-12
                    button(
                      class="common_btn" 
                      type="submit"
                      )
                      | Thay Đổi
                      i.fas.fa-long-arrow-right
  //
    ============================
    DSHBOARD END
    =============================