extends ../layouts/default.pug
include ../mixins/page-banner.pug

block main
  //
    =========================
    PAGE BANNER START
    ==========================
  +page-banner(
    {
      name: pageTitle,
    },
    `/dashboard/profile/edit`
  )
  //
    =========================
    PAGE BANNER START
    ==========================

  //
    ============================
    DSHBOARD START
    =============================
  section.dashboard(class="mb_100")
    .container
      .row
        .col-xl-3.wow.fadeInUp
          include ../partials/dashboard-sidebar.pug
        .col-xl-9.wow.fadeInRight
          div(class="dashboard_content mt_100")
            h3(class="dashboard_title")
              | #{pageTitle}
              a(
                href="/dashboard/profile" 
                class="common_btn cancel_edit"
                ) Hủy
            div(class="dashboard_profile_info_edit")
              form(class="info_edit_form" id="dashboardProfileEditForm")
                .row
                  .col-md-6
                    div(class="single_input")
                      label(for="fullName") Họ tên *
                      input(
                        placeholder="Ví dụ: Lê Văn A" 
                        type="text"
                        name="fullName"
                        id="fullName"
                        value=accountUser.fullName
                        )
                  .col-md-6
                    div(class="single_input")
                      label(for="email") Email *
                      input(
                        placeholder="Ví dụ: levana@gmail.com" 
                        type="email"
                        name="email"
                        id="email"
                        value=accountUser.email
                        )
                  .col-md-6
                    div(class="single_input")
                      label(for="phone") Số điện thoại
                      input(
                        placeholder="Ví dụ: 0987654321" 
                        type="text"
                        name="phone"
                        id="phone"
                        value=accountUser.phone
                        )
                    button(
                      class="common_btn" 
                      type="submit"
                      )
                      | Cập Nhật
                      i.fas.fa-long-arrow-right
  //
    ============================
    DSHBOARD END
    =============================