extends ../layouts/default.pug

block main
  //
    =========================
    OTP PASSWORD START
    ==========================
  section(class="forgot_password mt_100 mb_100")
    .container
      .row.justify-content-center
        .col-xxl-3.col-lg-4.col-xl-4.d-none.d-lg-block.wow.fadeInLeft
          div(class="sign_in_img")
            img.img-fluid.w-100(
              alt="Sign In" 
              src="/client/assets/images/sign_in_img_3.jpg"
              )
        .col-xxl-4.col-lg-7.col-xl-6.col-md-10.wow.fadeInRight
          div(class="sign_in_form")
            h3 #{pageTitle}
            form(id="otpPasswordForm")
              .row
                .col-xl-12
                  div(class="single_input")
                    label(for="email") Email
                    input(
                      type="email"
                      name="email"
                      id="email"
                      value=email
                      readonly
                      )
                .col-xl-12
                  div(class="single_input")
                    label(for="otp") Mã OTP
                    input(
                      placeholder="Ví dụ: 1234" 
                      type="text"
                      name="otp"
                      id="otp"
                      )
                .col-xl-12(class="mt_15")
                  button(
                    class="common_btn" 
                    type="submit"
                    )
                    | Xác thực
                    i.fas.fa-long-arrow-right
  //
    =========================
    OTP PASSWORD END
    ==========================