extends ../layouts/default.pug

block main
  //
    =========================
    RESET PASSWORD START
    ==========================
  section(class="forgot_password mt_100 mb_100")
    .container
      .row.justify-content-center
        .col-xxl-3.col-lg-4.col-xl-4.d-none.d-lg-block.wow.fadeInLeft
          div(class="sign_in_img")
            img.img-fluid.w-100(
              alt="Sign In" 
              src="/client/assets/images/sign_in_img_3.jpg"
              )
        .col-xxl-4.col-lg-7.col-xl-6.col-md-10.wow.fadeInRight
          div(class="sign_in_form")
            h3 #{pageTitle}
            form(id="resetPasswordForm")
              .row
                .col-lg-12
                  div(class="single_input")
                    label(for="password") Mật khẩu mới
                    input(
                      placeholder="********" 
                      type="password"
                      name="password"
                      id="password"
                      )
                .col-lg-12
                  div(class="single_input")
                    label(for="confirmPassword") Xác nhận mật khẩu
                    input(
                      placeholder="********" 
                      type="password"
                      name="confirmPassword"
                      id="confirmPassword"
                      )
                .col-xl-12(class="mt_15")
                  button(
                    class="common_btn" 
                    type="submit"
                    )
                    | Đổi mật khẩu
                    i.fas.fa-long-arrow-right
  //
    =========================
    RESET PASSWORD END
    ==========================