extends ../layouts/default.pug
include ../mixins/page-banner.pug

block main
  //
    =========================
    PAGE BANNER START
    ==========================
  +page-banner(
    {
      name: pageTitle
    },
    `/compare`
  )
  //
    =========================
    PAGE BANNER START
    ==========================

  //
    ============================
    WISHLIST START
    =============================
  section(class="wishlist_page cart_page mt_100 mb_100")
    .container
      .row.justify-content-center
        .col-xxl-10.col-xl-11
          .wow.fadeInUp(class="cart_table_area")
            .table-responsive
              table.table
                thead
                  tr
                    th(class="cart_page_img") Ảnh sản phẩm
                    th(class="cart_page_details") Thông tin sản phẩm
                    th(class="cart_page_price") Đơn giá
                    th(class="cart_page_quantity") Số lượng
                    th(class="cart_page_price") Tạm tính
                    th(class="cart_page_action") Hành động
            .table-responsive
              table.table
                tbody
                  tr
                    td(class="cart_page_img")
                      .img
                        img.img-fluid.w-100(
                          alt="Sản phẩm 1" 
                          src="/client/assets/images/product_18.png"
                          )
                    td(class="cart_page_details")
                      a.title(href="/product/detail/:slug") Sản phẩm 1
                      p
                        | 1.000.000đ
                        del 1.200.000đ
                      span
                        b Màu sắc:
                        | Đỏ
                      span
                        b Kích cỡ:
                        | M
                    td(class="cart_page_price")
                      h3 1.000.000đ
                    td(class="cart_page_quantity")
                      div(class="details_qty_input")
                        button.minus
                          i.fal.fa-minus(aria-hidden="true")
                        input(
                          value="2"
                          type="text"
                          )
                        button.plus
                          i.fal.fa-plus(aria-hidden="true")
                    td(class="cart_page_price")
                      h3 2.000.000đ
                    td(class="cart_page_action")
                      a(
                        class="common_btn" 
                        href="#"
                        ) Thêm vào giỏ
                      a.remove(
                        class="common_btn" 
                        href="#"
                        ) Xóa        
  //
    ============================
    WISHLIST END
    =============================