extends ../layouts/default.pug
include ../mixins/options.pug
include ../mixins/form-group-file.pug
include ../mixins/checkbox-list.pug

block main
  .card
    .card-header
      .row.align-items-center
        .col
          h4.card-title #{pageTitle}
    .card-body.pt-0
      form(id="blogEditForm")
        .row
          .col-md-6.col-lg-6.d-none
            .mb-3
              label.form-label(for="id") Id *
              input.form-control(id="id" type="text" name="id" value=blogDetail.id)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="name") Tên bài viết *
              input.form-control(id="name" type="text" name="name" value=blogDetail.name)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="slug") Đường dẫn *
              .input-group
                span.btn.btn-outline-info(
                  btn-generate-slug="Blog"
                  from="name"
                  to="slug"
                  ) Tự động
                input.form-control(id="slug" type="text" name="slug" value=blogDetail.slug)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="category") Danh mục
              div(classs="checkbox-list" checkbox-list="category")
                +checkbox-list(categoryList, 0, blogDetail.category)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="status") Trạng thái
              select.form-select(id="status" name="status")
                option(
                  value="draft"
                  selected=(blogDetail.status == "draft" ? true : false)
                  ) Bản nháp
                option(
                  value="published"
                  selected=(blogDetail.status == "published" ? true : false)
                  ) Xuất bản
                option(
                  value="archived"
                  selected=(blogDetail.status == "archived" ? true : false)
                  ) Lưu trữ
          .col-md-6.col-lg-6
            .mb-3
              +form-group-file("Chọn file", "avatar", "avatar", blogDetail.avatar)
          .col-md-12.col-lg-12
            .mb-3
              label.form-label(for="description") Mô tả ngắn
              textarea.form-control(id="description" name="description" textarea-mce) #{blogDetail.description}
          .col-md-12.col-lg-12
            .mb-3
              label.form-label(for="content") Nội dung chi tiết
              textarea.form-control(id="content" name="content" textarea-mce) #{blogDetail.content}
        button.btn.btn-primary(type="submit") Cập nhập
        a.btn.btn-danger.ms-1(href=`/${pathAdmin}/blog/list`) Hủy
  