extends ../layouts/default.pug

block main
  if (permissions.includes("dashboard"))
    .row
      .col-md-12.col-lg-12
        .card
          .card-header
            .row.align-items-center
              .col
                h4.card-title Doanh thu
          .card-body.pt-0
            .row.g-3
              .col-md-6.col-lg-4
                .card.shadow-none.border.mb-3.mb-lg-0.h-100
                  .card-body
                    .row.align-items-center
                      .col.text-center
                        h6.text-muted.mb-2.m-0 Tổng Doanh Thu
                        div.fs-18.fw-semibold #{totalRevenue.toLocaleString("vi-VN")}đ
              .col-md-6.col-lg-4
                .card.shadow-none.border.mb-3.mb-lg-0.h-100
                  .card-body
                    .row.align-items-center
                      .col.text-center
                        h6.text-muted.mb-2.m-0 Hôm Nay
                        div.fs-18.fw-semibold #{todayRevenue.toLocaleString("vi-VN")}đ
                        div
                          if todayPercent >= 0
                            | Tăng
                            span.text-success.mx-1 #{todayPercent.toFixed(1)}%
                          else
                            | Giảm
                            span.text-danger.mx-1 #{Math.abs(todayPercent).toFixed(1)}%
                          |  so với hôm qua
              .col-md-6.col-lg-4
                .card.shadow-none.border.mb-3.mb-lg-0.h-100
                  .card-body
                    .row.align-items-center
                      .col.text-center
                        h6.text-muted.mb-2.m-0 Tháng Này
                        div.fs-18.fw-semibold #{thisMonthRevenue.toLocaleString("vi-VN")}đ
                        div
                          if monthPercent >= 0
                            | Tăng
                            span.text-success.mx-1 #{monthPercent.toFixed(1)}%
                          else
                            | Giảm
                            span.text-danger.mx-1 #{Math.abs(monthPercent).toFixed(1)}%
                          | so với tháng trước