extends ../layouts/default.pug

block main
  .row
    .col-12
      .card
        .card-header
          .row.align-items-center
            .col
              h4.card-title #{pageTitle}
            // end col
            .col-auto
              a.btn.btn-info(
                href=`/${pathAdmin}/product/attribute`
                )
                i.fas.fa-arrow-left.me-1
                | Quay lại danh sách
                // end col
            // end col
          // end row
        // end card-header
        .card-body.pt-0
          //- Table
          .table-responsive
            table.table.table-striped.mb-0
              thead.table-light
                tr
                  th STT
                  th Tên thuộc tính
                  th Kiểu hiển thị
                  th Danh sách lựa chọn
                  th.text-end Hành động
              tbody
                each item, index in attributeList
                  tr
                    td #{index+1}
                    td #{item.name}
                    td #{item.type}
                    td
                      each option in item.options
                        span(class="badge bg-success me-1 mb-1") #{option.label}
                    td.text-end
                      a(
                        href="javascript:;"
                        button-api
                        data-method="PATCH"
                        data-api=`/${pathAdmin}/product/attribute/undo/${item.id}`
                        )
                        i.fas.fa-undo-alt.text-secondary.font-16.fs-20
                      a(
                        href="javascript:;"
                        button-api
                        data-method="DELETE"
                        data-api=`/${pathAdmin}/product/attribute/destroy/${item.id}`
                        )
                        i.las.la-trash-alt.text-secondary.font-16.fs-20
    // end col
