extends ../layouts/default.pug

block main
  .card
    .card-header
      .row.align-items-center
        .col
          h4 #{pageTitle}
    .card-body.pt-0
      form(id="settingApiLoginSocialForm")
        h5 Đăng nhập bằng Google
        .row
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="googleClientId") Client Id
              input(id="googleClientId" name="googleClientId" class="form-control" value=`${record ? record.data.googleClientId : ''}`)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="googleClientSecret") Client Secret
              input(id="googleClientSecret" name="googleClientSecret" class="form-control" value=`${record ? record.data.googleClientSecret : ''}`)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="googleCallbackUrl") Callback URL
              input(id="googleCallbackUrl" name="googleCallbackUrl" class="form-control" value=`${record ? record.data.googleCallbackUrl : ''}`)
        hr
        h5 Đăng nhập bằng Facebook
        .row
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="facebookAppId") App Id
              input(id="facebookAppId" name="facebookAppId" class="form-control" value=`${record ? record.data.facebookAppId : ''}`)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="facebookAppSecret") App Secret
              input(id="facebookAppSecret" name="facebookAppSecret" class="form-control" value=`${record ? record.data.facebookAppSecret : ''}`)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="facebookCallbackUrl") Callback URL
              input(id="facebookCallbackUrl" name="facebookCallbackUrl" class="form-control" value=`${record ? record.data.facebookCallbackUrl : ''}`)
        button.btn.btn-primary(type="submit") Cập nhập