mixin product-list-item(item)
  div(class="product_list_item product_item_2 product_item")
    .row.align-items-center
      .col-md-5.col-sm-6.col-xxl-4
        div(class="product_img")
          img.img-fluid.w-100(
            alt="Product" 
            src="/client/assets/images/product_17.png"
            )
          ul(class="discount_list")
            li.discount
              b -
              | #{item.discount}%
          ul(class="btn_list")
            li
              a(href="#")
                img.img-fluid(
                  alt="Compare" 
                  src="/client/assets/images/compare_icon_white.svg"
                  )
            li
              a(href="#")
                img.img-fluid(
                  alt="Love" 
                  src="/client/assets/images/love_icon_white.svg"
                  )
      .col-md-7.col-sm-6.col-xxl-8
        div(class="product_text")
          a.title(href=`/product/detail/${item.slug}`)
            | #{item.name}
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            span (0 Bình luận)
          p.price
            | #{item.priceNew.toLocaleString("vi-VN")}
            del #{item.priceOld.toLocaleString("vi-VN")}
          ul.mb-2.color
            each color in item.colorList
              li(style=`background:${color}`)
          a(
            href="shop_details.html" 
            class="common_btn"
            )
            | add to cart
            i.fas.fa-long-arrow-right