//
  =========================
    BANNER 2 START
    ==========================
section(class="banner_2")
  .container
    .row
      .col-xl-2.d-none.d-xxl-block
        +renderCategory(categoryProductList)
      .col-xxl-7.col-lg-8
        div(class="banner_content")
          .row(class="banner_2_slider")
            .col-xl-12
              .wow.fadeInUp(
                style="background: url(/client/assets/images/slider_1.jpg);" 
                class="banner_slider_2"
                )
                div(class="banner_slider_2_text")
                  h3 New arrivals of 2025
                  h1 Where Fashion Meets Individuality
                  a(
                    href="shop_details.html" 
                    class="common_btn"
                    )
                    | shop now
                    i.fas.fa-long-arrow-right
            .col-xl-12
              .wow.fadeInUp(
                style="background: url(/client/assets/images/slider_2.jpg);" 
                class="banner_slider_2"
                )
                div(class="banner_slider_2_text")
                  h3 Trending of this month
                  h1 make your fashion look more changing
                  a(
                    href="shop_details.html" 
                    class="common_btn"
                    )
                    | shop now
                    i.fas.fa-long-arrow-right
            .col-xl-12
              .wow.fadeInUp(
                style="background: url(/client/assets/images/slider_3.jpg);" 
                class="banner_slider_2"
                )
                div(class="banner_slider_2_text")
                  h3 Best selling of 2025
                  h1 Discover ypur Best fitting Clothes
                  a(
                    href="shop_details.html" 
                    class="common_btn"
                    )
                    | shop now
                    i.fas.fa-long-arrow-right
      .col-xxl-3.col-lg-4.col-sm-12.col-md-12
        .row
          .col-xl-12
            .wow.fadeInUp(
              style="background: url(/client/assets/images/banner_3_add_bg_1.jpg);" 
              class="banner_2_add"
              )
              .text
                h4 Summer Offer
                h2 Make Your Fashion Story Unique Every Day
                a(
                  href="shop_details.html" 
                  class="common_btn"
                  )
                  | shop now
                  i.fas.fa-long-arrow-right
//
  =========================
    BANNER 2 END
    ==========================