//
  ================================
    BEST SELLING PRODUCT 2 START
    ==================================
section(class="best_selling_product_2 mt_95")
  .container
    .row
      .col-xl-6.col-sm-9
        div(class="section_heading_2 section_heading")
          h3
            | Our
            span Best
            | Selling Products
      .col-xl-6.col-sm-3
        div(class="view_all_btn_area")
          a(
            href="shop.html" 
            class="view_all_btn"
            ) View all
    .row(class="mt_15")
      .col-xl-7
        .row
          .col-xl-4.col-sm-6.col-md-4.wow.fadeInUp
            div(class="best_selling_product_item")
              img.img-fluid.w-100(
                alt="best sell" 
                src="/client/assets/images/best_sell_pro_img_1.jpg"
                )
              .text
                a.title(href="shop_details.html") Men's trendy casual shoes
                p.price
                  | $89.00
                  del $12.00
                a(
                  href="shop_details.html" 
                  class="buy_btn"
                  )
                  | buy now
                  i.far.fa-arrow-up
          .col-xl-4.col-sm-6.col-md-4.wow.fadeInUp
            div(class="best_selling_product_item")
              img.img-fluid.w-100(
                alt="best sell" 
                src="/client/assets/images/best_sell_pro_img_2.jpg"
                )
              .text
                a.title(href="shop_details.html") Kid's Western Party Dress
                p.price
                  | $75.00
                  del $99.00
                a(
                  href="shop_details.html" 
                  class="buy_btn"
                  )
                  | buy now
                  i.far.fa-arrow-up
          .col-xl-4.col-sm-6.col-md-4.wow.fadeInUp
            div(class="best_selling_product_item")
              img.img-fluid.w-100(
                alt="best sell" 
                src="/client/assets/images/best_sell_pro_img_3.jpg"
                )
              .text
                a.title(href="shop_details.html") Men's Casual Winter Jacket
                p.price
                  | $60.00
                  del $65.00
                a(
                  href="shop_details.html" 
                  class="buy_btn"
                  )
                  | buy now
                  i.far.fa-arrow-up
      .col-xl-5.wow.fadeInRight
        div(class="best_selling_product_item_large")
          img.img-fluid.w-100(
            alt="best sell" 
            src="/client/assets/images/best_sell_pro_img_4.jpg"
            )
          .text
            a.title(href="shop_details.html") Best Sales Discount And Offers
            p.price
              | $89.00
              del $12.00
            a(
              href="shop_details.html" 
              class="common_btn"
              )
              | buy now
              i.fas.fa-long-arrow-right
//
  ================================
    BEST SELLING PRODUCT 2 END
    ==================================