//
  =========================
    BLOG 2 START
    ==========================
section(class="blog_2 pt_95")
  .container
    .row
      .col-xl-6.col-sm-9
        div(class="section_heading_2 section_heading")
          h3
            | Our
            span News
            | & Articles
      .col-xl-6.col-sm-3
        div(class="view_all_btn_area")
          a(
            href="blog_classic.html" 
            class="view_all_btn"
            ) View all
    .row(class="mt_15")
      .col-lg-4.col-xxl-3.col-md-6.wow.fadeInUp
        div(class="blog_item")
          a(
            class="blog_img" 
            href="blog_details.html"
            )
            img.img-fluid.w-100(
              alt="blog" 
              src="/client/assets/images/blog_img_1.png"
              )
          div(class="blog_text")
            ul.top
              li
                span
                  img.img-fluid.w-100(
                    alt="user" 
                    src="/client/assets/images/user_icon_black.svg"
                    )
                | Adnan Alvi
              li
                span
                  img.img-fluid.w-100(
                    alt="Message" 
                    src="/client/assets/images/calender.png"
                    )
                | 12 Mar 2025
            a.title(href="blog_details.html") How to Plop Hair for Bouncy, Beautiful Curls
            ul.bottom
              li
                a(href="blog_details.html")
                  | read more
                  i.fas.fa-long-arrow-right
              li
                span
                  i.far.fa-comment-dots
                  | 15 Comments
      .col-lg-4.col-xxl-3.col-md-6.wow.fadeInUp
        div(class="blog_item")
          a(
            class="blog_img" 
            href="blog_details.html"
            )
            img.img-fluid.w-100(
              alt="blog" 
              src="/client/assets/images/blog_img_2.png"
              )
          div(class="blog_text")
            ul.top
              li
                span
                  img.img-fluid.w-100(
                    alt="user" 
                    src="/client/assets/images/user_icon_black.svg"
                    )
                | Hasib Sing
              li
                span
                  img.img-fluid.w-100(
                    alt="Message" 
                    src="/client/assets/images/calender.png"
                    )
                | 20 Apr 2025
            a.title(href="blog_details.html")
              | Fast fashion: How clothes are linked to climate
              |   change
            ul.bottom
              li
                a(href="blog_details.html")
                  | read more
                  i.fas.fa-long-arrow-right
              li
                span
                  i.far.fa-comment-dots
                  | 42 Comments
      .col-lg-4.col-xxl-3.col-md-6.wow.fadeInUp
        div(class="blog_item")
          a(
            class="blog_img" 
            href="blog_details.html"
            )
            img.img-fluid.w-100(
              alt="blog" 
              src="/client/assets/images/blog_img_3.png"
              )
          div(class="blog_text")
            ul.top
              li
                span
                  img.img-fluid.w-100(
                    alt="user" 
                    src="/client/assets/images/user_icon_black.svg"
                    )
                | Smith Jhon
              li
                span
                  img.img-fluid.w-100(
                    alt="Message" 
                    src="/client/assets/images/calender.png"
                    )
                | 07 Mar 2025
            a.title(href="blog_details.html")
              | Which foundation formula is right for your
              |   skin?
            ul.bottom
              li
                a(href="blog_details.html")
                  | read more
                  i.fas.fa-long-arrow-right
              li
                span
                  i.far.fa-comment-dots
                  | 36 Comments
      .col-lg-4.col-xxl-3.col-md-6.wow.fadeInUp
        div(class="blog_item")
          a(
            class="blog_img" 
            href="blog_details.html"
            )
            img.img-fluid.w-100(
              alt="blog" 
              src="/client/assets/images/blog_img_4.png"
              )
          div(class="blog_text")
            ul.top
              li
                span
                  img.img-fluid.w-100(
                    alt="user" 
                    src="/client/assets/images/user_icon_black.svg"
                    )
                | Jhon Deo
              li
                span
                  img.img-fluid.w-100(
                    alt="Message" 
                    src="/client/assets/images/calender.png"
                    )
                | 24 Apr 2025
            a.title(href="blog_details.html") How To Choose The Right Sofa for your home
            ul.bottom
              li
                a(href="blog_details.html")
                  | read more
                  i.fas.fa-long-arrow-right
              li
                span
                  i.far.fa-comment-dots
                  | 15 Comments
//
  =========================
    BLOG 2 END
    ==========================