//
  ============================
    CATEGORY 2 START
    ==============================
section.category(class="category_2 mt_55")
  .container
    .row(class="category_2_slider")
      .col-2.wow.fadeInUp
        a(
          class="category_item" 
          href="shop.html"
          )
          .img
            img.img-fluid.w-100(
              alt="Category" 
              src="/client/assets/images/category_img_2.png"
              )
          h3 Men's Fashion
      .col-2.wow.fadeInUp
        a(
          class="category_item" 
          href="shop.html"
          )
          .img
            img.img-fluid.w-100(
              alt="Category" 
              src="/client/assets/images/category_img_3.png"
              )
          h3 women's Fashion
      .col-2.wow.fadeInUp
        a(
          class="category_item" 
          href="shop.html"
          )
          .img
            img.img-fluid.w-100(
              alt="Category" 
              src="/client/assets/images/category_img_1.png"
              )
          h3 kids fashion
      .col-2.wow.fadeInUp
        a(
          class="category_item" 
          href="shop.html"
          )
          .img
            img.img-fluid.w-100(
              alt="Category" 
              src="/client/assets/images/category_img_4.png"
              )
          h3 kids fashion
      .col-2.wow.fadeInUp
        a(
          class="category_item" 
          href="shop.html"
          )
          .img
            img.img-fluid.w-100(
              alt="Category" 
              src="/client/assets/images/category_img_5.png"
              )
          h3 kids fashion
      .col-2.wow.fadeInUp
        a(
          class="category_item" 
          href="shop.html"
          )
          .img
            img.img-fluid.w-100(
              alt="Category" 
              src="/client/assets/images/category_img_6.png"
              )
          h3 kids fashion
      .col-2.wow.fadeInUp
        a(
          class="category_item" 
          href="shop.html"
          )
          .img
            img.img-fluid.w-100(
              alt="Category" 
              src="/client/assets/images/category_img_7.png"
              )
          h3 kids fashion
      .col-2.wow.fadeInUp
        a(
          class="category_item" 
          href="shop.html"
          )
          .img
            img.img-fluid.w-100(
              alt="Category" 
              src="/client/assets/images/category_img_2.png"
              )
          h3 Men's Fashion
      .col-2.wow.fadeInUp
        a(
          class="category_item" 
          href="shop.html"
          )
          .img
            img.img-fluid.w-100(
              alt="Category" 
              src="/client/assets/images/category_img_3.png"
              )
          h3 women's Fashion
      .col-2.wow.fadeInUp
        a(
          class="category_item" 
          href="shop.html"
          )
          .img
            img.img-fluid.w-100(
              alt="Category" 
              src="/client/assets/images/category_img_1.png"
              )
          h3 kids fashion
//
  ============================
    CATEGORY 2 END
    ==============================