//
  ============================
    FAVOURITE PRODUCT 2 START
    ==============================
section(class="favourite_product_2 mt_100")
  .container
    .row
      .col-xl-3.col-lg-4.wow.fadeInLeft
        div(class="bundle_product_banner")
          img.img-fluid(
            alt="bundle" 
            src="/client/assets/images/favourite_pro_2_banner_img.png"
            )
          .text
            h4
              | This Spring On Apple
              span Up To 50K Off
            p Limited Time Offer
            a(
              href="shop_details.html" 
              class="common_btn"
              )
              | shop now
              i.fas.fa-long-arrow-right(aria-hidden="true")
      .col-xl-9.col-lg-8
        .row
          .col-xl-8
            div(class="section_heading_2 section_heading")
              h3
                | Our
                span Favorite
                | Style Product
          .row(class="mt_40 favourite_product_2_slider")
            .col-xl-3.wow.fadeInUp
              div(class="product_item_2 product_item")
                div(class="product_img")
                  img.img-fluid.w-100(
                    alt="Product" 
                    src="/client/assets/images/product_22.png"
                    )
                  ul(class="discount_list")
                    li.new new
                  ul(class="btn_list")
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Compare" 
                          src="/client/assets/images/compare_icon_white.svg"
                          )
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Love" 
                          src="/client/assets/images/love_icon_white.svg"
                          )
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Love" 
                          src="/client/assets/images/cart_icon_white.svg"
                          )
                div(class="product_text")
                  a.title(href="shop_details.html") cherry fabric western tops
                  p.price $54.00
                  p.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star-half-alt
                    i.far.fa-star
                    span (98 reviews)
            .col-xl-3.wow.fadeInUp
              div(class="product_item_2 product_item")
                div(class="product_img")
                  img.img-fluid.w-100(
                    alt="Product" 
                    src="/client/assets/images/product_24.png"
                    )
                  ul(class="btn_list")
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Compare" 
                          src="/client/assets/images/compare_icon_white.svg"
                          )
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Love" 
                          src="/client/assets/images/love_icon_white.svg"
                          )
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Love" 
                          src="/client/assets/images/cart_icon_white.svg"
                          )
                div(class="product_text")
                  a.title(href="shop_details.html") Women denim jacket
                  p.price $49.00
                  p.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star-half-alt
                    i.far.fa-star
                    span (44 reviews)
            .col-xl-3.wow.fadeInUp
              div(class="product_item_2 product_item")
                div(class="product_img")
                  img.img-fluid.w-100(
                    alt="Product" 
                    src="/client/assets/images/product_23.png"
                    )
                  ul(class="discount_list")
                    li.discount
                      b -
                      | 20%
                  ul(class="btn_list")
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Compare" 
                          src="/client/assets/images/compare_icon_white.svg"
                          )
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Love" 
                          src="/client/assets/images/love_icon_white.svg"
                          )
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Love" 
                          src="/client/assets/images/cart_icon_white.svg"
                          )
                div(class="product_text")
                  a.title(href="shop_details.html") Kid's Western Party Dress
                  p.price
                    | $40.00
                    del $48.00
                  p.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star-half-alt
                    i.far.fa-star
                    span (20 reviews)
            .col-xl-3.wow.fadeInUp
              div(class="product_item_2 product_item")
                div(class="product_img")
                  img.img-fluid.w-100(
                    alt="Product" 
                    src="/client/assets/images/product_25.png"
                    )
                  ul(class="btn_list")
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Compare" 
                          src="/client/assets/images/compare_icon_white.svg"
                          )
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Love" 
                          src="/client/assets/images/love_icon_white.svg"
                          )
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Love" 
                          src="/client/assets/images/cart_icon_white.svg"
                          )
                div(class="product_text")
                  a.title(href="shop_details.html") Half Sleeve Jachket for Women
                  p.price $60.00
                  p.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star-half-alt
                    i.far.fa-star
                    span (57 reviews)
            .col-xl-3.wow.fadeInUp
              div(class="product_item_2 product_item")
                div(class="product_img")
                  img.img-fluid.w-100(
                    alt="Product" 
                    src="/client/assets/images/product_26.png"
                    )
                  ul(class="discount_list")
                    li.discount
                      b -
                      | 58%
                  ul(class="btn_list")
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Compare" 
                          src="/client/assets/images/compare_icon_white.svg"
                          )
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Love" 
                          src="/client/assets/images/love_icon_white.svg"
                          )
                    li
                      a(href="#")
                        img.img-fluid(
                          alt="Love" 
                          src="/client/assets/images/cart_icon_white.svg"
                          )
                div(class="product_text")
                  a.title(href="shop_details.html") Kid's Western Party Dress
                  p.price
                    | $40.00
                    del $48.00
                  p.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star-half-alt
                    i.far.fa-star
                    span (88 reviews)
//
  ============================
    FAVOURITE PRODUCT 2 END
    ==============================