//
  ============================
    FEATURES START
    ==============================
section.features(class="mt_20")
  .container
    .row
      .col-xl-3.col-md-6.wow.fadeInUp
        .purple(class="features_item")
          .icon
            img(
              alt="feature" 
              src="/client/assets/images/feature-icon_1.svg"
              )
          .text
            h3 Return & refund
            p Money back guarantee
      .col-xl-3.col-md-6.wow.fadeInUp
        .green(class="features_item")
          .icon
            img(
              alt="feature" 
              src="/client/assets/images/feature-icon_3.svg"
              )
          .text
            h3 Quality Support
            p Always online 24/7
      .col-xl-3.col-md-6.wow.fadeInUp
        .orange(class="features_item")
          .icon
            img(
              alt="feature" 
              src="/client/assets/images/feature-icon_2.svg"
              )
          .text
            h3 Secure Payment
            p 30% off by subscribing
      .col-xl-3.col-md-6.wow.fadeInUp
        div(class="features_item")
          .icon
            img(
              alt="feature" 
              src="/client/assets/images/feature-icon_4.svg"
              )
          .text
            h3 Daily Offers
            p 20% off by subscribing
//
  ============================
    FEATURES END
    ==============================