include ../mixins/product-item.pug

//
  ============================
    FLASH SELL 2 START
    ==============================
section(class="flash_sell_2 flash_sell mt_95")
  .container
    .row.align-items-center
      .col-xxl-6.col-md-3.col-xl-4
        div(class="section_heading_2 section_heading")
          h3
            span #{blockData.title.highlight}
            | #{blockData.title.normal}
      .col-xxl-6.col-md-9.col-xl-8
        .d-flex.flex-wrap.justify-content-end
          .simply-countdown.simply-countdown-one(data-end-time=blockData.endTime)
          div(class="view_all_btn_area")
            a(
              href=blockData.linkViewAll 
              class="view_all_btn"
              ) #{blockData.viewAll}
    if blockProductList && blockProductList.length
      .row(class="mt_25 flash_sell_2_slider")
        each item in blockProductList
          .col-xl-1-5.wow.fadeInUp
            +product-item(item)
//
  ============================
    FLASH SELL 2 END
    ==============================