//
  ================================
    NEW ARRIVAL 2 START
    ==================================
section(class="new_arrival_2 mt_95")
  .container
    .row
      .col-xl-6.col-sm-9
        div(class="section_heading_2 section_heading")
          h3
            | Our
            span New
            | arrival Products
      .col-xl-6.col-sm-3
        div(class="view_all_btn_area")
          a(
            href="shop.html" 
            class="view_all_btn"
            ) View all
    .row(class="mt_15")
      .col-xl-1-5.col-6.col-md-4.col-xl-3.wow.fadeInUp
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_18.png"
              )
            ul(class="discount_list")
              li.new new
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") Full Sleeve Hoodie Jacket
            p.price $88.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              span (20 reviews)
            ul.color
              li.active(style="background:#DB4437")
              li(style="background:#638C34")
              li(style="background:#1C58F2")
              li(style="background:#ffa500")
      .col-xl-1-5.col-6.col-md-4.col-xl-3.wow.fadeInUp
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_19.png"
              )
            ul(class="discount_list")
              li.new new
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") Men's premium formal shirt
            p.price $46.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              span (17 reviews)
            ul.color
              li.active(style="background:#DB4437")
              li(style="background:#638C34")
              li(style="background:#ffa500")
      .col-xl-1-5.col-6.col-md-4.col-xl-3.wow.fadeInUp
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_20.png"
              )
            ul(class="discount_list")
              li.new new
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") cherry fabric western tops
            p.price $46.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (22 reviews)
            ul.color
              li.active(style="background:#DB4437")
              li(style="background:#638C34")
              li(style="background:#1C58F2")
              li(style="background:#ffa500")
      .col-xl-1-5.col-6.col-md-4.col-xl-3.wow.fadeInUp
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_4.png"
              )
            ul(class="discount_list")
              li.new new
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") Comfortable Sports Sneakers
            p.price $75.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              span (58 reviews)
            ul.color
              li.active(style="background:#DB4437")
              li(style="background:#638C34")
      .col-xl-1-5.col-6.col-md-4.col-xl-3.wow.fadeInUp
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_23.png"
              )
            ul(class="discount_list")
              li.new new
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") Kid's dresses for summer
            p.price $70.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              span (44 reviews)
            ul.color
              li.active(style="background:#DB4437")
              li(style="background:#638C34")
              li(style="background:#1C58F2")
              li(style="background:#ffa500")
//
  ================================
    NEW ARRIVAL 2 END
    ==================================