//
  ============================
    SPECIAL PRODUCT 2 START
    ==============================
section(class="special_product_2 pt_85")
  .container
    .row
      .col-xl-6.col-sm-9
        div(class="section_heading_2 section_heading")
          h3
            | Our
            span Spatial
            | Brand Products
      .col-xl-6.col-sm-3
        div(class="view_all_btn_area")
          a(
            href="shop.html" 
            class="view_all_btn"
            ) View all
    .row(class="pt_15")
      .col-xl-4.wow.fadeInLeft
        div(class="special_product_banner")
          img.img-fluid.w-100(
            alt="special product" 
            src="/client/assets/images/home2_special_banner.jpg"
            )
          .text
            h3 make your fashion look more changing
            p Get 50% Off on Selected Clothing Items
            a(
              href="shop_details.html" 
              class="common_btn"
              )
              | shop now
              i.fas.fa-long-arrow-right
      .col-xl-8
        .row
          .col-md-6.wow.fadeInUp
            div(class="special_product_item")
              div(class="special_product_img")
                img.img-fluid.w-100(
                  alt="product" 
                  src="/client/assets/images/product_30.png"
                  )
                span.discount save $50
              div(class="special_product_text")
                a.title(href="shop_details.html") Men's premium formal pant
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star-half-alt
                  i.far.fa-star
                p
                  | $29.00
                  del $32.00
          .col-md-6.wow.fadeInUp
            div(class="special_product_item")
              div(class="special_product_img")
                img.img-fluid.w-100(
                  alt="product" 
                  src="/client/assets/images/product_1.png"
                  )
                span.discount save $39
              div(class="special_product_text")
                a.title(href="shop_details.html") Full Sleeve Hoodie Jacket
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                p
                  | $20.00
                  del $22.00
          .col-md-6.wow.fadeInUp
            div(class="special_product_item")
              div(class="special_product_img")
                img.img-fluid.w-100(
                  alt="product" 
                  src="/client/assets/images/product_2.png"
                  )
                span.discount save $45
              div(class="special_product_text")
                a.title(href="shop_details.html") Kids cotton Combo Set
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star-half-alt
                  i.far.fa-star
                p
                  | $16.00
                  del $18.00
          .col-md-6.wow.fadeInUp
            div(class="special_product_item")
              div(class="special_product_img")
                img.img-fluid.w-100(
                  alt="product" 
                  src="/client/assets/images/product_27.png"
                  )
                span.discount save $20
              div(class="special_product_text")
                a.title(href="shop_details.html") Men's trendy formal shoes
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star-half-alt
                  i.far.fa-star
                p
                  | $10.00
                  del $12.00
          .col-md-6.wow.fadeInUp
            div(class="special_product_item")
              div(class="special_product_img")
                img.img-fluid.w-100(
                  alt="product" 
                  src="/client/assets/images/product_28.png"
                  )
                span.discount save $40
              div(class="special_product_text")
                a.title(href="shop_details.html") Men's T-shirt combo set
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star-half-alt
                  i.far.fa-star
                p
                  | $17.00
                  del $20.00
          .col-md-6.wow.fadeInUp
            div(class="special_product_item")
              div(class="special_product_img")
                img.img-fluid.w-100(
                  alt="product" 
                  src="/client/assets/images/product_29.png"
                  )
                span.discount save $19
              div(class="special_product_text")
                a.title(href="shop_details.html") Women's T-shirt combo
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star-half-alt
                  i.far.fa-star
                p
                  | $13.00
                  del $15.00
          .col-md-6.wow.fadeInUp
            div(class="special_product_item")
              div(class="special_product_img")
                img.img-fluid.w-100(
                  alt="product" 
                  src="/client/assets/images/product_30.png"
                  )
                span.discount save $50
              div(class="special_product_text")
                a.title(href="shop_details.html") Men's premium formal pant
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star-half-alt
                  i.far.fa-star
                p
                  | $29.00
                  del $32.00
          .col-md-6.wow.fadeInUp
            div(class="special_product_item")
              div(class="special_product_img")
                img.img-fluid.w-100(
                  alt="product" 
                  src="/client/assets/images/product_1.png"
                  )
                span.discount save $39
              div(class="special_product_text")
                a.title(href="shop_details.html") Men's Fashionable Hoodie
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star-half-alt
                  i.far.fa-star
                p
                  | $20.00
                  del $22.00
//
  ============================
    SPECIAL PRODUCT 2 END
    ==============================