//
  ========================
    SUBSCRIPTION 2 START
    ==========================
section(
  style=`background: url(${blockData.backgroundImage});` 
  class="subscription_2 mt_50 xs_mt_60"
  )
  .container
    .row.justify-content-center
      .col-xxl-6.col-lg-8.wow.fadeInUp
        div(class="subscription_2_text")
          h2
            | #{blockData.title.normal}
            span #{blockData.title.highlight}
          p #{blockData.description}
          form(action="#")
            input(
              placeholder=blockData.placeholder 
              type="text"
              )
            button(
              class="common_btn" 
              type="submit"
              ) #{blockData.buttonText}
//
  ========================
    SUBSCRIPTION 2 END
    ==========================