//
  ========================
    SUBSCRIPTION 2 START
    ==========================
section(
  style="background: url(/client/assets/images/subscribe_2_bg.jpg);" 
  class="subscription_2 mt_50 xs_mt_60"
  )
  .container
    .row.justify-content-center
      .col-xxl-6.col-lg-8.wow.fadeInUp
        div(class="subscription_2_text")
          h2
            | Get Upto
            span 70%
            | Off Discount Coupon
          p by Subscribe our Newsletter
          form(action="#")
            input(
              placeholder="Your email" 
              type="text"
              )
            button(
              class="common_btn" 
              type="submit"
              ) Subscribe
//
  ========================
    SUBSCRIPTION 2 END
    ==========================