.startbar.d-print-none
  // start brand
  .brand
    a.logo(href=`/${pathAdmin}/dashboard`)
      span
        img.logo-sm(
          alt="logo-small" 
          src="/admin/assets/images/logo-sm.png"
          )
      span
        img.logo-lg.logo-light(
          alt="logo-large" 
          src="/admin/assets/images/logo-light.png"
          )
        img.logo-lg.logo-dark(
          alt="logo-large" 
          src="/admin/assets/images/logo-dark.png"
          )
  // end brand
  // start startbar-menu
  .startbar-menu
    #startbarCollapse.startbar-collapse(data-simplebar="")
      .d-flex.align-items-start.flex-column.w-100
        // Navigation
        ul.navbar-nav.mb-auto.w-100
          if (permissions.includes("dashboard"))
            li.nav-item
              a.nav-link(
                href=`/${pathAdmin}/dashboard`
                )
                i.iconoir-home-simple.menu-icon
                span Tổng quan
          li.nav-item
            a.nav-link(
              aria-controls="sidebarProduct" 
              aria-expanded="false"
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarProduct"
              )
              i.iconoir-shop.menu-icon
              span Sản phẩm
            #sidebarProduct.collapse
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/product/create`) Tạo sản phẩm
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/product/list`) Danh sách sản phẩm
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/product/category`) Danh mục sản phẩm
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/product/attribute`) Thuộc tính sản phẩm
                // end nav-item
          li.nav-item
            a.nav-link(
              aria-controls="sidebarCoupon" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarCoupon"
              )
              i.iconoir-percentage-circle.menu-icon
              span Mã giảm giá
            #sidebarCoupon.collapse
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/coupon/create`) Tạo mã giảm giá
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/coupon/list`) Danh sách mã giảm giá
                // end nav-item
          li.nav-item
            a.nav-link(
              aria-controls="sidebarBlog" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarBlog"
              )
              i.iconoir-page-edit.menu-icon
              span Bài viết
            #sidebarBlog.collapse
              ul.nav.flex-column
                if (permissions.includes("blog-create"))
                  li.nav-item
                    a.nav-link(
                      href=`/${pathAdmin}/blog/create`
                      ) Tạo bài viết
                li.nav-item
                  a.nav-link(
                    href=`/${pathAdmin}/blog/list`
                    ) Danh sách bài viết
                li.nav-item
                  a.nav-link(
                    href=`/${pathAdmin}/blog/category`
                    ) Danh mục bài viết
              // end nav
            // end startbarBlog
          li.nav-item
            a.nav-link(
              aria-controls="sidebarRole" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarRole"
              )
              i.iconoir-user-badge-check.menu-icon
              span Nhóm quyền
            #sidebarRole.collapse
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(
                    href=`/${pathAdmin}/role/create`
                    ) Tạo nhóm quyền
                li.nav-item
                  a.nav-link(
                    href=`/${pathAdmin}/role/list`
                    ) Danh sách nhóm quyền
              // end nav
            // end sidebarRole
          li.nav-item
            a.nav-link(
              aria-controls="sidebarAccountAdmin" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarAccountAdmin"
              )
              i.iconoir-user-crown.menu-icon
              span Tài khoản quản trị
            #sidebarAccountAdmin.collapse
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(
                    href=`/${pathAdmin}/account-admin/create`
                    ) Tạo tài khoản
                li.nav-item
                  a.nav-link(
                    href=`/${pathAdmin}/account-admin/list`
                    ) Danh sách tài khoản
              // end nav
            // end sidebarAccountAdmin
          li.nav-item
            a.nav-link(
              aria-controls="sidebarAccountUser" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarAccountUser"
              )
              i.iconoir-user-circle.menu-icon
              span Tài khoản người dùng
            #sidebarAccountUser.collapse
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(
                    href=`/${pathAdmin}/account-user/list`
                    ) Danh sách tài khoản
              // end nav
            // end sidebarAccountAdmin
          li.nav-item
            a.nav-link(
              href=`/${pathAdmin}/admin-log/list`
              )
              i.iconoir-clock.menu-icon
              span Lịch sử hoạt động
          li.nav-item
            a.nav-link(
              href=`/${pathAdmin}/file-manager/iframe`
              )
              i.iconoir-folder-settings.menu-icon
              span Quản lý file
          li.nav-item
            a.nav-link(
              aria-controls="sidebarSetting" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarSetting"
              )
              i.iconoir-settings.menu-icon
              span Cài đặt
            #sidebarSetting.collapse
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/setting/api-shipping`) API hãng vận chuyển
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/setting/api-payment`) API cổng thanh toán
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/setting/api-login-social`) API đăng nhập MXH
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/setting/api-app-password`) API Mật khẩu ứng dụng
                // end nav-item
  // end startbar-menu
// end startbar
.startbar-overlay.d-print-none